body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    display: grid;
   height: 100vh;
   width: 100vw;
   grid-template-columns: 1fr 2fr 1.5fr;
   grid-template-rows: auto;
   grid-template-areas: "icon home trend";

}
/*ICONS*/
.icon{
    background-color: #000000;
    grid-area: icon;
    border-right: 1px solid #2E3235;
}
.margin{
    margin:0 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.twitter{
    font-size: 1.9em;
    color: #D9D9D9;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.2em;
    margin-top: 1.2em;
}
.home-links{
    display: flex;
    gap: 1.7em;
    color: #1C9EED;
}
.home-links .fas{
    font-size: 1.5em;
}
.home-links a{
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
    color: #1C9EED;
}
.explore-links{
    display: flex;
    gap: 1.95em;
}
.explore-links .fas{
    font-size: 1.5em;
    color: #D9D9D9;
}
.explore-links a{
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
    color: #D9D9D9;
}
.notification-links{
    display: flex;
    gap: 1.95em;
}
.notification-links .far{
    font-size: 1.5em;
    color: #D9D9D9;
}
.notification-links a{
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
    color: #D9D9D9;
}
.messages-links{
    display: flex;
    gap: 1.8em;
}
.messages-links .far{
    font-size: 1.5em;
    color: #D9D9D9;
}
.messages-links a{
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
    color: #D9D9D9;
}
.bookmarks-links{
    display: flex;
    gap: 2.2em;
}
.bookmarks-links .far{
    font-size: 1.5em;
    color: #D9D9D9;
}
.bookmarks-links a{
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
    color: #D9D9D9;
}
.lists-links{
    display: flex;
    gap: 1.9em;
}
.lists-links .far{
    font-size: 1.5em;
    color: #D9D9D9;
}
.lists-links a{
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
    color: #D9D9D9;
}
.profile-links{
    display: flex;
    gap: 2em;
}
.profile-links .far{
    font-size: 1.5em;
    color: #D9D9D9;
}
.profile-links a{
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
    color: #D9D9D9;
}
.more-links{
    display: flex;
    gap: 1.95em;
}
.more-links .fas{
    font-size: 1.5em;
    color: #D9D9D9;
}
.more-links a{
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
    color: #D9D9D9;
}
.tweet{
    height: 3em;
    width: 13em;
    background-color: #1C9EED;
    border-radius: 24px;
    text-align: center;
    color: #D9D9D9;
    margin-top: 4em;
    font-family: sans-serif;
    font-weight: 600;
}
.face{
    margin-top: 5em;
    display: flex;
    height: auto;
}
.face img{
    height: 3em;
    width: 3em;
    border-radius: 50%;

}
.vlad {
    position: absolute;
    margin: -1em 0 0 3.5em;
    font-family: sans-serif;
    font-weight: 500;
    color: #6E767D;
    line-height: 1.4em;
    
}
.vlad span{
    font-weight: 800;
    font-family: sans-serif;
    color: #D9D9D9;
    
}
.face .fas{
    color: #D9D9D9;
    position: absolute;
    margin:1.3em 0 0 13em;
}

/*HOME*/
.home{
  background-color: #000000;
  grid-area: home;
  border-right: 1px solid #2E3235;

}
.top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6E767D;
}
.top p{
    font-size: 1.3rem;
    color: #D9D9D9;
    margin: 1rem 0 1rem 1rem;
    font-family: sans-serif;
    font-weight: 600;

}
.top .far{
    font-size: 1.2rem;
    color: #1C9EED;
    margin: 1.3rem 0.7rem 1rem 0;
}
.top-one{
    display: flex;
    height: 7rem;
    border-bottom: 1px solid #5A676C;
    box-shadow: 0 10px #15181C;
}
.top-one img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0.6rem 0 0 0.6rem;
}
.top-oneone{
    margin: 0 0 1rem 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.what p{
    color: #5A676C;
    font-family: sans-serif;
}
.tiles{
    display: flex;
    justify-content: space-between;
    color: #1C9EED;
  
}
.tweet-one{
    height: 3em;
    width: 4.5em;
    background-color: #1C9EED;
    border-radius: 24px;
    text-align: center;
    color: #D9D9D9;
    margin: 3.8em 0 0 21em;
    font-family: sans-serif;
    font-weight: 600;
}
.gbati{
    display: flex;
    border-top: 1px solid #6E767D;
    margin: 9px 0 0 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #6E767D;

}
.gbati img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0.6rem 0 0 0.6rem;
}
.henry{
    margin: 0 0 0 0.6rem;
}
.henry-one{
    display: flex;
}
.henry-one h2{
    color: #D9D9D9;
    font-size: 1rem;
    font-family: sans-serif;
    padding-top: -1px;
}
.henry-one p{
    color: #5A676C;
    font-size: 0.9rem;
    gap: 0.3rem;
    font-family: sans-serif;
}
.seconds{
    margin-left: 0.2rem;
}
.henry-one i{
    color: #5A676C;
    font-size: 1rem;
    margin: 1rem 0 0 20.4rem;
}
.gbati-writings{
    margin: -1.3rem 0 0 0;
}
.gbati-writings p{
    color: #D9D9D9;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.osman{
    width: 30rem;
    height: 4rem;
    border: 1px solid #5A676C;
    border-radius: 24px;
}
.osman-one{
    display: flex;
}
.osman-top{
    display: flex;
    margin: 0 0 0 0.7rem;
}
.osman-top img{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-top: 10px;
}
.osman-one .fas{
    margin-left: 3.4rem;
    color: #FFCC4D;
    position: absolute;
    margin-top: -10px;
    font-size: 1.1rem;
}
.osman-one span{
    font-size: 1rem;
    color: #D9D9D9;
    position: absolute;
    margin-top: -8px;
    margin-left: 2px;
}
.osman-one p{
    color: #6E767D;
}
.zthe{
    margin-left: 5rem;
    padding-top: -1px;
    font-size: 0.9rem;
}
.osman-middle p{
    color: #D9D9D9;
    margin: -0.7rem 0 0 0.9rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.bottom-icons{
    display: flex;
    justify-content: space-between;
    margin: 1rem 7rem 0 1rem;
}
.bottom-icons .far{
    color: #5A676C;
    
}
.bottom-icons .fas{
    color: #5A676C;
}
/*SENYO*/
.senyo{
    border-bottom: 1px solid #6E767D;
    padding-bottom: 5px;
}
.senyo-one{
    display: flex;
}
.senyo-one img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0.6rem 0 0 0.6rem;
}
.senyo-two{
    margin: 0 0 0 0.4rem;
}
.senyo-three{
    display: flex;
    
}
.senyo-three h2{
    color: #D9D9D9;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 1rem 0 0 0;
}
.senyo-three p{
    color: #D9D9D9;
    font-size: 1rem;
    font-family: sans-serif;
    
}
.senyo-three .dennis{
    color: #6E767D;
    font-size: 0.9rem;
    margin: 1rem 0 0 0;
}
.senyo-three .fas{
    color: #6E767D;
    margin: 1rem 0 0 18rem;
}
.emoji{
    margin-top: 1rem;
}
.senyo-two p{
    color: #D9D9D9;
    margin-top: -0.7px;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.senyo-icons{
    display: flex;
    justify-content: space-between;
    margin: 1rem 7.8rem 0 1rem;
    color: #5A676C;
}
/*SPORTING*/
.sporting{
    border-bottom: 1px solid #6E767D;
    padding-bottom: 5px;
}
.sporting-one{
    display: flex;
}
.sporting img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0.6rem 0 0 0.6rem;
}
.sporting-two{
    margin: 0 0 0 0.4rem;
}
.sporting-three{
    display: flex;
    
}
.sporting-three h2{
    color: #D9D9D9;
    font-size: 14px;
    font-family: sans-serif;
    margin: 1rem 0 0 0;
    
}
.sporting-three p{
    color: #D9D9D9;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 5px;
    line-height: 1.3rem;
    
    
}
.sporting-three .dennis{
    color: #6E767D;
    font-size: 0.9rem;
    margin: 1rem 0 0 0;
}
.sporting-three .fas{
    color: #6E767D;
    margin: 1rem 0 0 17rem;
}
.emoji{
    margin-top: 1rem;
}
.sporting-two p{
    color: #D9D9D9;
    margin-top: -0.7px;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.sporting-icons{
    display: flex;
    justify-content: space-between;
    margin: 1rem 8.8rem 0 1rem;
    color: #5A676C;
}
/*SPORTING*/
.abeiku{
    border-bottom: 1px solid #6E767D;
    padding-bottom: 5px;
}
.abeiku-one{
    display: flex;
}
.abeiku img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0.6rem 0 0 0.6rem;
}
.abeiku-two{
    margin: 0 0 0 0.4rem;
}
.abeiku-three{
    display: flex;
    
}
.abeiku-three h2{
    color: #D9D9D9;
    font-size: 14px;
    font-family: sans-serif;
    margin: 1rem 0 0 0;
    
}
.abeiku-three p{
    color: #D9D9D9;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 1rem;
    line-height: 1.5rem;
    
    
}
.abeiku-three .dennis{
    color: #6E767D;
    font-size: 0.9rem;
    margin: 1rem 0 0 0;
}
.abeiku-three .fas{
    color: #6E767D;
    margin: 1rem 0 0 23.3rem;
}
.emoji{
    margin-top: 1rem;
}
.abeiku-two p{
    color: #D9D9D9;
    margin-top: -0.7px;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.abeiku-icons{
    display: flex;
    justify-content: space-between;
    margin: 1rem 8.8rem 0 1rem;
    color: #5A676C;
}
/*TREND*/
.trend{
   background-color: #000000;
   padding-bottom: 0;  
   overflow: hidden;  
}

.search{
    height: 3rem;
    width: 20rem;
    background-color: #202327;
    display: flex;
    justify-content: flex-start;
    border-radius: 24px;
    margin: 3px 0 0 3rem;
}
.search .fas{
    margin: 1rem 1rem 1rem 1rem;
    color: #5A676C;
}

.search p{
    color: #5A676C;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin: 1rem 1rem 1rem 0;
}
.trends{
    width: 20rem;
    height: auto;
    margin: 7px 0 0 3rem;
    background-color:#15181C;
    border: 1px solid #6E767D;
    border-radius: 22px;
}
.first-line{
    width: 18.5rem;
    display: flex;
    justify-content: space-between;
    padding: 3px 0 5px 1rem;
    border-bottom: 1px solid #5a5a5a;
    
    
}
.first-line p{
    color: #D9D9D9;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
}
.first-line .fas{
    color: #1C9EED;
    margin: 1rem 1rem 0 0;
    font-size: 1.1rem;
}
/*EWES*/
.ewes{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1.5rem 0.4rem 1rem;
    border-bottom: 1px solid #6E767D;
}
.upper-writings p{
    color: #6a6a6a;
    font-family: sans-serif;
    font-size: 0.7rem;
}
.upper-writings h3{
    color: #D9D9D9;
    line-height: 0rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.ewes .fas{
    color: #6e767d;
    margin-top: 10px;
}

/*GHANAIANS*/

.ghanaians{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1.5rem 0.4rem 1rem;
    border-bottom: 1px solid #6E767D;
}
.upper-writings-one p{
    color: #6a6a6a;
    font-family: sans-serif;
    font-size: 0.7rem;
}
.upper-writings-one h3{
    color: #D9D9D9;
    line-height: 0rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.ghanaians .fas{
    color: #6e767d;
    margin-top: 10px;
}
/*UEFA*/

.uefa{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1.5rem 0.4rem 1rem;
    border-bottom: 1px solid #6E767D;
}
.upper-writings-two p{
    color: #6a6a6a;
    font-family: sans-serif;
    font-size: 0.7rem;
}
.upper-writings-two h3{
    color: #D9D9D9;
    line-height: 0rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.uefa .fas{
    color: #6e767d;
    margin-top: 10px;
}

/*ENTERTAINMENT*/
.entertainment{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1.5rem 0.4rem 1rem;
    border-bottom: 1px solid #6E767D;
}
.upper-writings-three p{
    color: #6a6a6a;
    font-family: sans-serif;
    font-size: 0.7rem;
}
.upper-writings-three h3{
    color: #D9D9D9;
    line-height: -20px;
    font-family: sans-serif;
    font-size: 0.9rem;
    position: absolute;
    margin-top: -18px;
}
.entertainment .fas{
    color: #6e767d;
    margin-top: 10px;
}
#one{
    margin-top: 1.6rem;
}
.upper-writings-three .fas{
    color: #F0B117;
}
/*SHATTA WALE*/

.shatta-wale{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1.5rem 0.4rem 1rem;
    border-bottom: 1px solid #6E767D;
}
.upper-writings-four p{
    color: #6a6a6a;
    font-family: sans-serif;
    font-size: 0.7rem;
}
.upper-writings-four h3{
    color: #D9D9D9;
    line-height: 0rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.shatta-wale .fas{
    color: #6e767d;
    margin-top: 10px;
}
.show-more{
    padding: 0 1.5rem 0 1rem;
    color: #1C9EED;
    font-family: sans-serif;
}

/*ENDING*/

.ending{
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 3rem 1rem 1rem;
    height: 5rem;
    width: 95%;
    background-color: #000000;
    margin-right: 1rem;
    border-radius: 24px 24px 0 0;
    box-shadow: 1px 2px 10px 2px #232323;
}
.ending h2{
    padding-left: 1rem;
    color: #D9D9D9;
    font-family: sans-serif;
}
.ending-icons{
    margin: 1.5rem 3rem 0 0;
    display: flex;
    justify-content: space-between;
}
.ending-icons .far{
    margin: 0 1.5rem 0 0;
    font-size: 1.5rem;
    color: #1C9EED;
}
.ending-icons .fas{
    font-size: 1.5rem;
    color: #1C9EED;
}